---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import url(http://fonts.googleapis.com/css?family=Oswald:700);
// @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratRegular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/MontserratRegular.woff') format('woff'), 
        url('../fonts/MontserratRegular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"base/mixins",
	"bourbon/bourbon",
	"neat/neat",
	"base/base",
        "layout",
        "organisms/hero",
        "organisms/crew",
        "organisms/pricing",
        "organisms/about",
        "organisms/final",
        "organisms/footer"
;
