<section id="About" class="about">
	<div class="wrapper">
		<article>
			<div>
				<h2>About</h2>
				<p>The kind of vibe, product and service that we offer here at The Godfather Barber is something that we've fine-tuned in just under two years (est. 2013) and something which, until we set up shop, was missing in the Wellington region. We are very particular when it comes to where we source our products, who we do business with and how we operate. Loyalty, respect and sharp cuts are the values that we inspire in our clients and demand of ourselves.</p>
			</div>
		</article>
	</div>
</section>