<section id="Crew" class="crew">
	<div class="crew-wrapper">
		<h2>The crew</h2>
		<div class="profile-holder">
			<div>
				<span class="Alex"></span>
				<h2>Alex</h2>
				<p class='nickname'>'ranga'</p>
				<p>While Wellington is his home, Alex has travelled a fair bit in his 21 years. No longer the newbie of the shop, Alex has a solid clientele and is now exempt from scrubbing the floor with his toothbrush. Born and bred Kiwi, he’s 21, a natural dirty bugger, ginger and cuts a mean fade. Go the kiwis.</p>
			</div>
			<div>
				<span class="Rod"></span>
				<h2>Rod</h2>
				<p class='nickname'>'godfather'</p>
				<p>Owner, operator and all round crazy bastard Rodrigo Ballaminut hailing from São Paulo, Brazil, has 20 years of experience in this industry and shows no sign of stopping. Before joining us in good ol' NZ Rod worked in Japan and Brazil, sharpening his skills and techniques. Deciding on Wellington to finally settle his bony tattooed arse, dreams of owning his own business became a reality. The one and only, Godfather of Ghuznee Street.</p>
			</div>
			<div>
				<span class="Zeir"></span>
				<h2>Zeir</h2>
				<p class='nickname'>'ZBOY'</p>
				<p>The new addition to our family of scoundrel’s. When he’s not shredding down the street’s on a board, robbing old ladies of their peace and quiet you’ll find him in the shop carving out a juicy flat top mullet.</p>
			</div>
		</div>
	</div>
</section>
