<section id="Crew" class="crew">
	<div class="wrapper">
		<h2>The crew</h2>
		<div class="profile-holder">
			<div>
				<span class="Danny"></span>
				<h2>Danny</h2>
				<p class='nickname'>'dallas'</p>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div>
			<div>
				<span class="Rod"></span>
				<h2>Rod</h2>
				<p class='nickname'>'godfather'</p>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div>
			<div>
				<span class="Alex"></span>
				<h2>Alex</h2>
				<p class='nickname'>'ranga'</p>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div>			
		</div>
	</div>
</section>