<section id="Crew" class="crew">
	<div class="wrapper">
		<h2>The crew</h2>
		<div class="profile-holder">
			<div>
				<span class="Danny"></span>
				<h2>Danny</h2>
				<p class='nickname'>'dallas'</p>
				<p>Formerly of Dr Folicles, Melbourne Australia - Danny has been a Barber/Hairdresser for 12 years. Moonlighting in the fashion industry, taking part in various fashion weeks before deciding to be full time in the barbering industry. Londoner at heart, Danny is your man when it comes to scissor cuts and sharp restyled. This man knows his way around a barber chair and more importantly, a bar.</p>
			</div>
			<div>
				<span class="Rod"></span>
				<h2>Rod</h2>
				<p class='nickname'>'godfather'</p>
				<p>Owner, operator and all round crazy bastard Rodrigo Ballamunit hailing from São Paulo, Brazil, has 19 years of experience in this industry and shows no sign of stop. Before Coming to good Ol' NZ Rod has worked in Japan, Brazil before resting in Wellington (citizen of 8 years) and starting his own business. The one and only, Godfather of Dixon street.</p>
			</div>
			<div>
				<span class="Alex"></span>
				<h2>Alex</h2>
				<p class='nickname'>'ranga'</p>
				<p>While Wellington is his home, Alex has travelled a fair bit in his 20 years. Not much can be said about Alex, other than he's 20, he's ginger and cuts a mean fade. Fresh into the Barber scene, born and bred kiwi and natural dirty bugger. Go the kiwis.</p>
			</div>			
		</div>
	</div>
</section>