<header class="site-header">

  <div class="wrapper">

    <span class="logo"></span>

    <h1>ZERO FADES <b>HAND GRENADES</b></h1>

    <nav>
      <ul>
        <li><a onclick="smoothScroll(document.getElementById('About'));">About</a></li>
        <li><a onclick="smoothScroll(document.getElementById('Pricing'));">Pricing</a></li>
        <li><a onclick="smoothScroll(document.getElementById('Crew'));">Crew</a></li>
        <li><a onclick="smoothScroll(document.getElementById('Where'));">Where</a></li>
      </ul>
    </nav>

  </div>

<div class="overlay"></div>

</header>
