<section id="Pricing" class="pricing">
	<div class="wrapper">
		<h2>Prices</h2>
		<div class="haircuts">
			<h3>Haircuts</h3>
			<ul>
				<li>Single clipper <b>$20</b></li>
				<li>Multi clipper <b>$22</b></li>
				<li>Scissor cut <b>$35</b></li>
				<li>Kids (under 6) <b>$20</b></li>
				<li>Kids (6-15) <b>$25</b></li>
			</ul>
		</div>
		<div class="beards">
			<h3>Beards</h3>
			<ul>
				<li>Full beard <b>$10</b></li>
				<li>Beard style <b>$16</b></li>
				<li>Cut throat shave <b>$60</b></li>
				<li>Other (moustache trims, small trimmings etc) <b>$5</b></li>
			</ul>
		</div>
	</div>
</section>
