//scaffolding

body {
    margin: 0;
}

.wrapper {
    max-width: 960px;
    margin: auto;
}

section {
    padding: 116px 0;
}

// hero

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(59, 59, 59, .74);
    z-index: 1;
}

.logo {
    background: url(../img/logo-godfathers.svg);
    width: 211px;
    height: 100px;
    background-size: 211px 100px;
    display: block;
    margin: auto;
}

h1 {
    color: white;
    font-size: 5.625em;
    text-align: center;

    b {
        display: block;
        font-size: 0.711em;
        line-height: .8;
    }
}

// stuff

p:last-of-type {
    margin: 0;
}

.circle {
    position: relative;
    border-radius: 50%;
    width: 75%;
    height: auto;
    padding-top: 75%;
    display: block;
    margin: auto;
}
