//scaffolding

body {
    margin: 0;
}

.wrapper {
    max-width: 960px;
    margin: auto;

    @include tablet {
        max-width: 90%;
    }
}

section {
    padding: 116px 0;

    @include mobile {
        padding: 40px 0;
    }
}

// stuff

html {
	box-sizing: border-box;
}

* {
	&,
	&::after,
	&::before {
		box-sizing: inherit;
	}
}

p:last-of-type {
    margin: 0;
}
