.crew {
    background: $light-gray;

    .crew-wrapper {
        @extend .wrapper;
        max-width: 1300px;

        @include tablet {
            max-width: 90%;
        }
    }

    h2 {
        text-align: center;
    }

    .profile-holder {
        @include display(flex);
        flex-wrap: wrap;

        @include mobile {
            @include flex-direction(column);
        }

        > div {
            @include flex(1);

            @include tablet {
                // flex-basis: calc(50% - 40px);
                // margin: 0 20px 30px;
            }

            @include mobile {
                max-width: 444px;
                margin: 20px auto;

                &:nth-child(2) {
                    @include order(-1);
                }
            }
        }
    }

    .Danny,
    .Rod,
    .Alex,
    .Zeir {
        position: relative;
        border-radius: 50%;
        width: 75%;
        padding-top: 75%;
        display: block;
        margin: auto;

        @include mobile {
            width: 65%;
            padding-top: 65%;
        }

        + h2 {
            padding: 20px 0 0;
        }
    }

    .Danny {
        background: url(../img/Danny.jpg) no-repeat center center;
        background-size: cover;
    }

    .Rod {
        background: url(../img/Rod.jpg) no-repeat center center;
        background-size: cover;
    }

    .Alex {
        background: url(../img/Alex.jpg) no-repeat center center;
        background-size: cover;
    }

    .Zeir {
        background: url(../img/Zeir.jpg) no-repeat center center;
        background-size: cover;
    }

    .nickname {
        text-align: center;
        color: lighten($dark-gray, 20%);
        font-style: italic;
        padding: 4px 0 20px;
        margin: 0;
    }

    p {
        padding: 0px 24px;

        @include mobile {
            padding: 0;
        }
    }
}
