.crew {
    background: $light-gray;

    h2 {
        text-align: center;
    }

    .profile-holder {
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;

        @include mobile {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        > div {

            @include mobile {
                width: 80%;
                max-width: 368px;
                margin: 20px auto;

                &:nth-child(2) {
                    -webkit-order: -1;
                    -ms-order: -1;
                    order: -1;
                }
            }
        }
    }

    .Danny,
    .Rod,
    .Alex {
        @extend .circle;

        + h2 {
            padding: 20px 0 0;
        }
    }
    
    .Danny {
        background: url(../img/Danny.png) no-repeat -1% 19%;
        background-size: cover;
    }
    
    .Rod {
        background: url(../img/Rod.png) no-repeat 0 0;
        background-size: cover;
    }

    .Alex {
        background: url(../img/Alex.png) no-repeat 0 7%;
        background-size: cover;
    }

    .nickname {
        text-align: center;
        color: lighten($dark-gray, 20%);
        font-style: italic;
        padding: 4px 0 20px;
        margin: 0;
    }

    p {
        padding: 0px 24px;

        @include mobile {
            padding: 0;
        }
    }
}