.crew {
    background: $light-gray;

    h2 {
        text-align: center;
    }

    .profile-holder {
        @include display(flex);
        @include mobile {
            @include flex-direction(column);
        }

        > div {
            @include flex(1);

            @include mobile {
                max-width: 444px;
                margin: 20px auto;

                &:nth-child(2) {
                    @include order(-1);
                }
            }
        }
    }

    .Danny,
    .Rod,
    .Alex {
        position: relative;
        border-radius: 50%;
        width: 75%;
        padding-top: 75%;
        display: block;
        margin: auto;

        @include mobile {
            width: 65%;
            padding-top: 65%;
        }

        + h2 {
            padding: 20px 0 0;
        }
    }
    
    .Danny {
        background: url(../img/Danny.png) no-repeat -1% 19%;
        background-size: cover;
    }
    
    .Rod {
        background: url(../img/Rod.png) no-repeat 0 0;
        background-size: cover;
    }

    .Alex {
        background: url(../img/Alex.png) no-repeat 0 7%;
        background-size: cover;
    }

    .nickname {
        text-align: center;
        color: lighten($dark-gray, 20%);
        font-style: italic;
        padding: 4px 0 20px;
        margin: 0;
    }

    p {
        padding: 0px 24px;

        @include mobile {
            padding: 0;
        }
    }
}