.final {
	@include fullbg('../img/final.jpg');
	min-height: 600px;
	height: calc(100vh - 40px);
	color: white;
	line-height: 32px;

	.wrapper {
		@include display(flex);
	    @include justify-content(center);
	    @include align-items(center);
		height: 100%;

		@include mobile {
			@include flex-direction(column);
		}

		article {
			@include flex(2);
			@include display(flex);
			@include mobile {
				@include flex-direction(column);
				@include flex(none);
				margin-bottom: 20px;
				width: 100%;
			}

			h2 {
				text-align: left;
				padding-bottom: 40px;

				@include mobile {
					padding-bottom: 20px;
					text-align: center;
				}
			}

			div {
				@include flex(1);
				margin-bottom: 20px;
			}

			b {
				float: right;
				font-weight: normal;
			}
		}

		aside {
			@include flex(1);
			@include display(flex);
		    @include justify-content(flex-end);
			margin-left: auto;
			height: 211px;
			margin-bottom: 20px;

			@include mobile {
				margin-left: 0;
				@include flex(none);
				width: 100%;
				height: 128px;
			}

			ul {
				position: relative;
				width: 90%;
				height: 128px;
				@include align-self(flex-end);

				@include mobile {
					width: 100%;
				}

				&.phone-active {
					.facebook {
						opacity: 0;

						a {
							width: 0;
						}
					}

					.phone {
						width: 72%;
					}

					.phone-number {
						left: 50px;
					}
				}
			}

			li {
				transition: .8s;
				position: absolute;
				height: 40px;

				a {
					transition: .8s;
					display: inline-block;
					width: 40px;
					height: 40px;
				}
			}

			.mail {
				top: 8px;
				left: 14%;
				background: url('../img/mail.svg');
				background-size: 52px 52px;
				background-position: -6px bottom;
				position: absolute;
			}

			.instagram {
				top: 8px;
				right: 14%;
				background: url('../img/social-instagram-outline.svg');
				background-size: 40px 40px;
				position: absolute;
			}

			.facebook {
				bottom: 8px;
				left: 14%;
				background: url('../img/social-facebook.svg') no-repeat;
				background-size: 20px 40px;
				background-position: center;
				position: absolute;
			}

			.mail {
				background: url('../img/mail.svg');
				background-size: 52px 52px;
				background-position: -6px -6px;
			}

			.phone {
				bottom: 8px;
				right: 14%;
				overflow: hidden;
				cursor: pointer;
				position: absolute;
				width: 40px;
			}

			.phone-number {
				transition: .8s;
				position: absolute;
				width: 110px;
				top: 6px;
				left: -200px;
				color: white;
			}
		}
	}
}