footer {
	background: #F3C48C;
	color: white;
	display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
	height: 40px;
	font-size: 12px;

	a,
	a:hover,
	a:active,
	a:focus {
		color: white;
	}

	.love {
		display: inline-block;
		width: 14px;
		height: 14px;
		margin: 0 4px -2px;
		background: url('../img/heart.svg');
		background-size: 14px 14px;
	}
}