footer {
	background: #F3C48C;
	@include display(flex);
    @include justify-content(center);
    @include align-items(center);
	height: 40px;
	font-size: 12px;

	@include mobile {
		font-size: 12px;
	}

	a,
	a:hover,
	a:active,
	a:focus {
		color: white;
	}

	.love {
		display: inline-block;
		width: 14px;
		height: 14px;
		margin: 0 4px -2px;
		background: url('../img/heart.svg');
		background-size: 14px 14px;
	}
}