header {
    @include fullbg('../img/hero-banner-1.jpg');
    min-height: 420px;
    @include display(flex);
    @include align-items(center);
    position: relative;

    .logo {
        background: url(../img/logo-godfathers.svg);
        width: 422px;
        height: 200px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: block;
        margin: auto;

        @include mobile {
            width: 211px;
            height: 100px;
        }
    }

    h1 {
        color: white;
        font-size: 5.625em;

        @include mobile {
            font-size: .8 * 5.625em;
        }

        b {
            display: block;
            font-size: 0.711em;
            line-height: .8;

            @include mobile {
                line-height: 1;
                font-size: .8 * .711em;
            }
        }
    }

    ul {
        position: absolute;
        bottom: 0;
        left: 0;
        @include display(flex);
        @include justify-content(center);
        width: 100%;
        text-transform: uppercase;
        font-size: 0.750em;
        padding-bottom: 1em;

        @include mobile {
            font-size: .75em;
        }
    }

    li {
        &:not(:last-child) {
            margin-right: 2em;
        }
    }

    a,
    a:visited,
    a:hover,
    a:focus {
        color: $brand-colour;
        cursor: pointer;
    }
}
