.pricing {
	b {
		font-weight: normal;
		display: block;
		float: right;
	}

	li {
		font-size: 0.750em;

		@include mobile {
			font-size: .75em;
		}
	}

	h3 {
	   color: $base-font-color;
	   text-align: left;
	   font-size: 1.125em;
	   padding: 0 0 16px 0;

	   @include mobile {
			font-size: 1.125em;
	   }
	 
	}

	.haircuts {
		padding-bottom: 40px;
	}

}