@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin fullbg($url) {
    background-image: linear-gradient(rgba(59, 59, 59, .74), rgba(59, 59, 59, .74)), url($url);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
